#navbar{
    position:static;
    background-color:black;
}

#navbar .navbar-container {
    flex-direction: column;
}

.navbar-items{
    padding-top: 20px;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    width: 45%;
}

#navbar .navbar-container ul li {
    padding: 7px 0;
}

#navbar .navbar-container ul li:nth-child(3){
    border-right: 0;
    border-bottom: 1px solid white;
}

#showcase .sc-container h2{
    font-size: 2.8rem;
}

#showcase .sc-container p{
    margin: 6px 0;
    font-size: 0.8rem;
}

#footer .ft-content {
    flex-direction: column;
}

#footer .ft-content .logo{
    width: 35%;
    margin-bottom: 22px;
}

#footer .ft-content .ft-menu {
    margin: 0 20px;
    padding: 10px 0;
}

#footer .ft-content .ft-menu .ft-menu-item {
    margin: 20px 0;
    font-size: 0.9rem;
    transition: all 300ms ease;
}

.socials{
    padding: 22px 0;
}

.ft-info .ft-info-items{
    flex-direction: column;
}